.reset-password {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 50px auto;
}

.reset-password h2 {
    font-size: 22px !important;
    font-weight: 900;
    font-family: "Lato", sans-serif !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reset-password input {
    width: auto;
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccd1d9;
    background: #f5f5f5;
    border-radius: 5px 0px 0 5px;
    border-right: 0 !important;
}

.reset-password button {
    width: 147px;
    font-size: 14px;
    border: 0;
    height: 45px;
    padding: 10px 14px;
    background-color: #006D77;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
}